<!DOCTYPE html>
<html>
<head>
    <script src="${ctxPath}/statics/libs/jquery.min.js"></script>
</head>

<body>
<a href="/">首页</a>
<a href="/robot/add">添加机器人</a>
<div id="root">
    <table border="1">
        <tr>
            <th>机器人名称</th>
            <th>市场</th>
            <th>刷量用户ID</th>
            <th>最高委托价</th>
            <th>最低委托价</th>
            <th>最大委托量</th>
            <th>最少委托量</th>
            <th>涨跌幅</th>
            <th>周期(分)</th>
            <th>目标价格</th>
            <th>最大挂买单笔数</th>
            <th>最大挂卖单笔数</th>
            <th>刷量频率(毫秒)</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        @for(robot in robots){
        <tr>
            <td>${robot.name}</td>
            <td>${robot.symbol}</td>
            <td>${robot.userId}</td>
            <td>${robot.maxPrice}</td>
            <td>${robot.minPrice}</td>
            <td>${robot.maxNum}</td>
            <td>${robot.minNum}</td>
            <td>${robot.range}</td>
            <td>${robot.cycle}</td>
            <td>${robot.targetPrice}</td>
            <td>${robot.maxBuyOrders}</td>
            <td>${robot.maxSellOrders}</td>
            <td>${robot.frequence}</td>
            <td>${robot.status==0?'停止':'启动'}</td>
            <td>
                <a href="javascript:void(0);" data-id="${robot.id}" class="start">启动</a>
                <a href="javascript:void(0);" data-id="${robot.id}" class="stop">停止</a>
                <a href="/robot/update/${robot.id}">修改</a>
                <a href="/robot/delete/${robot.id}">删除</a>
            </td>
        </tr>
        @}
    </table>

    <!--<P>1.在设置价格区间前，先保证您的盘口买一卖一不要相差太大</P>-->
    <!--<p>2.请确保您账户有等价值的币，如果1FBT = 10NEC,请确保您的账户有100FBT，1000NEC，防止单边行情的发生</p>-->
    <!--<p>3.及时登录您的账户，撤销不能成交的订单，及时释放资金</p>-->

    <script>
        window.onload = function () {
            setTimeout('myrefresh()', 10000);
        }


        function myrefresh() {
            window.location.reload();
        }

        $(".start").click(function(){
            $.get("/robot/start/" + $(this).data("id"), function(result){
                alert(result.msg);
                myrefresh();
            });
        });

        $(".stop").click(function(){
            $.get("/robot/stop/" + $(this).data("id"), function(result){
                alert(result.msg);
                myrefresh();
            });
        });
    </script>


</div>
</body>
</html>


